* {
    margin: 0;
    padding:0;
    font-family:barlow;
}

body {
    background-image: linear-gradient(rgb(252, 208, 107), rgb(250, 191, 142), rgb(252, 175, 98), rgb(255, 215, 155));
}

.wrapper {
    width: 100%;
}

h1, h2 {
  text-align: center;
 
}

h2 {
    font-size: 6vw;
}

.img-start {
    width: 100%;
    display: none;
}

.basic-info {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.235);
}

.basic-info img {
    width: 100%;
}

.basic-info  p {
   padding: 10px 10px 10px;
}

.last-info {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.235);
}

.last-info img {
    width: 100%;
}

.last-info  p {
     padding: 10px 10px 10px;
  
}

aside {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

aside ul, h3{
    padding: 10px 10px 10px;
}
aside {
    margin-top: 40px;
    border:1px solid black;
    width: 60%;
    border-radius: 2em;
    background-color: rgba(255, 255, 255, 0.235);
}
.asidecontainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

footer {
    padding: 30px 10px 10px;
    font-size: 1em;
    text-align: center;
}

@media only screen and (min-width:768px) {
.wrapper {
    width: 600px;
    margin:0 auto;
}

.img-start {
    display:block;
    width: 100%;
    border-radius: 2em;
    margin-bottom: 20px;
}

.basic-info img {
     border-radius: 2em 2em 0 0;
}

.basic-info {
    margin: 20px 0px 0px;
    border: 1px solid  black;
    border-radius: 2em;
    background-color: rgba(255, 255, 255, 0.235);
}

.last-info {
    margin: 20px 0px 0px;
    border: 1px solid  black;
    border-radius: 2em;
    background-color: rgba(255, 255, 255, 0.235);
}

.last-info img {
    border-radius: 2em 2em 0 0;

}

h1 {
    padding: 10px;
}

h2 {
    font-size: 2em;
    padding: 10px;
}

footer {
    font-size: 0.9em;
}

aside {
    margin-top: 40px;
    border:1px solid black;
    width: 60%;
    border-radius: 2em;
    background-color: rgba(255, 255, 255, 0.235);
}
.asidecontainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
}

@media only screen and (min-width:1000px) {
    .wrapper {
        width: 900px;
    }

    h1 {
        font-size: 4em;
    }

    p {
        font-size: 1.5em;
    }

    h3 {
        font-size: 2em;
    }

aside ul, li {
    font-size: 1.4em;
}

footer {
    font-size: 1em;
}
aside {
    margin-top: 40px;
    border:1px solid black;
    width: 60%;
    border-radius: 2em;
    background-color: rgba(255, 255, 255, 0.235);
}
.asidecontainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
}

@media only screen and (min-width:1200px) {
    .wrapper {
        width: 1600px;
        flex-wrap: wrap;
    }

    h1 {
        display: flex;
        justify-content: center;
        flex-direction: row;
        font-size: 4em;
    }

    h2 {
        text-align: center;
        font-size: 2em;
    }

    p {
        font-size: 1.15em;
    }

    .img-start {
    display:block;
    width: 100%;
    margin-bottom:100px;
}

.basic-info {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 10px 0px 0px;
    border: 1px solid  black;
    border-radius: 2em;
    background-color: rgba(255, 255, 255, 0.235);
}

.basic-info p {
    font-size: 1.2em;
}

.basic-info img {
    display: block;
    border-radius: 2em 0 0 2em;
}

figure {
    flex:1;
}

.last-info {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    margin: 20px 0px 0px;
    border: 1px solid  black;
    border-radius: 2em;
    background-color: rgba(255, 255, 255, 0.235);
}

.last-info p {
   font-size: 1.2em;
}

.last-info img {
    display: block;
    border-radius: 0 2em 2em 0;
}

.text1 {
    flex:1;
}

aside h3, ul {
    font-size: 1em;
}

li {
    font-size: 0.7em;
}

aside {
    margin-top: 40px;
    border:1px solid black;
    width: 20%;
    border-radius: 2em;
    background-color: rgba(255, 255, 255, 0.235);
}

.asidecontainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

footer {
    font-size: 0.7em;
}

}