/*CSS:Cascading Style Sheets. It is a stylesheet language.*/

/*p is a selector, inside the curly braces {} is called a declaration and sets a value for a specific property, color is a property, rgb(21, 60, 122) is the value */
/*The whole structure is called a ruleset*/
/*
    p {
        color:rgb(21, 60, 122);
        width: 500px;
        border: 1px solid black;
    }
*/

body {
    font-size: 20px;
    font-family:"Barlow Condensed", sans-serif;
    /*background-color: rgb(132, 121, 109);*/
    background-image: linear-gradient(rgb(48, 17, 10), rgb(121, 61, 36), rgb(189, 107, 25), rgb(255, 196, 108));
    /*background-image:linear-gradient(rgb(255, 196, 108), rgb(189, 107, 25), rgb(121, 61, 36),rgb(48, 17, 10));*/
    margin: 0;
  
}

#back {
    display: flex;
    align-content: center;
    padding: 20px;
    margin:auto;
    background-color: rgba(202, 195, 187, 0.315);
    width: 65%;
    border-radius: 2em 0 2em 2em;
}


h1 {
    font-size: 50px;
    margin: 30px;
    text-shadow: 1px 1px 10px rgb(255, 255, 255);


}

h2 {
    font-size: 30px;
}

h3{
    font-size: 25px;
}

p, li {
    font-size: 20px;
    line-height: 1.3;
    letter-spacing: 0.4px;
    
    
}

#title {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom:40px ;
}

#title img {
    border-radius: 2em;
  

}

#info {
    display: flex;
    flex-direction: row;
    justify-content:flex-start ;
    align-items: flex-start;
    border: solid rgba(0, 0, 0, 0.482) 2px;
    border-radius: 2.1em;
    background-color: rgba(255, 255, 255, 0.212);
  
}

#info img {
    border-radius: 2em 0 0 2em;
    display: block;
}
#infotext h2 {
     margin:20px;
}
    







#characteristics {
    display: flex;
    flex-direction: row-reverse;
    justify-content:flex-start ;
    align-items: flex-start;
    border: 2px solid rgba(0, 0, 0, 0.482);
    border-radius: 2.1em;
    background-color: rgba(255, 255, 255, 0.212);
    
}

#characteristics img {
   border-radius: 0 2em 0 2em;
   display: block;
}



#infotext2 h2, h3, p, ul {
  margin:20px;
    
}

a {
    text-decoration: none;
    color: black;

}

#check {
    display: flex;
    flex-direction: row;
    justify-content:flex-start ;
    align-items: flex-start;
    border: 2px solid rgba(0, 0, 0, 0.482);
    border-radius: 2.1em;
    background-color: rgba(255, 255, 255, 0.212);
}

#check h4 {
    margin: 20px;
}

.done{
    color:darkgreen;
    text-decoration: line-through solid black 3px;
}
footer {
    text-align: center;
}


/*QUESTIONS

1. In the tutorial I see that there is a possibility to set a background-color to the html element. I thought the background-color should be set in the body. Why would I set background-color in html element?*
ANSWER: It is common practise to apply background-color and other properties to the body. The main *visual* content is in the body. */